.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: white;
  top: 20px;
  bottom: 5em;
  left: 50%;
  margin-left: -3px
}

.circle {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%
}

.circle::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -10px;
  background-color: white;
  border: 5px solid #fecdd3;
  top: 18px;
  border-radius: 20px;
  z-index: 1
}

.left-arrow {
  left: 0
}

.right-arrow {
  left: 50%
}

.left-arrow::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white
}

.right-arrow::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent
}

.right-arrow::after {
  left: -16px
}

.content {
  color: black;
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px
}

@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px
  }

  .circle {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px
  }

  .circle::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent
  }

  .left-arrow::after,
  .right-arrow::after {
    left: 15px
  }

  .right-arrow {
    left: 0%
  }
}