.countdown {
  position: absolute;
  left: 20px;
  bottom: 20px; }

.text-bubble-container {
  display: none;
  position: absolute;
  top: 80%;
  width: 250px; }

.text-bubble {
  position: relative;
  text-align: center;
  color: #f9f9f9;
  background: #696969;
  border-radius: 0.4em;
  font-size: 14px; }

.text-bubble:after {
  content: '';
  position: absolute;
  top: 0;
  left: 17%;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: #696969;
  border-top: 0;
  border-left: 0;
  margin-left: -10px;
  margin-top: -12px; }

@media (max-width: 1500px) {
  .countdown {
    left: 50%;
    top: 10px;
    transform: translateX(-50%); }
  .text-bubble-container {
    width: 225px; } }

@media (max-width: 1400px) {
  .text-bubble-container {
    width: 200px;
    right: -90px; }
  .text-bubble:after {
    left: 25%; } }

@media (max-width: 1300px) {
  .text-bubble-container {
    width: 200px;
    right: -60px; }
  .text-bubble:after {
    left: 40%; } }

@media (max-width: 1200px) {
  .countdown {
    display: none; }
  #n4-scroll {
    display: none; }
  .text-bubble-container {
    display: none; } }

@media (max-width: 485px) {
  #n1-home {
    margin-left: 2%; } }

@media (max-width: 415px) {
  #n1-home {
    margin-left: -18%; } }
