#loading-stuck-notice p {
  color: black;
}

nav a {
  text-decoration: none;
}
.navbar-brand:hover {
  /* padding: 10px 10px; */
  color: red !important;
  background-color: #fbe8e9;
}
#theme-mode-btn {
  position: absolute;
  margin: 1px 0 0 -28px;
  font-size: 10px;
  color: #000;
}

/* 
 * This is the cursor class
 * from 'react-typing-animation' package
 */
.typer p,
.typer b,
.typer h2,
.typer h3,
.efaGep {
  color: #f00;
  font-weight: bold;
}

.marquee p {
  color: #ebebeb;
  display: inline-block;
  padding-left: 100%;
  animation: mq-anim 20s linear infinite;
}

.project-title-mobile {
  color: black;
}

#contact-button > a > button {
  width: 210px;
}
#contact-button > a > button:hover {
  color: white;
  background-color: red;
}

#msk-container div a {
  color: black;
}
/* #msk-container div a:hover
{
    color: red;
    background-color: #FBE8E9
} */

#link-stats,
#made-with {
  text-decoration: none;
}
#link-stats {
  color: #eaeaea;
}
#made-with {
  color: black;
}
#link-stats:hover,
#made-with:hover {
  color: red;
}

@media screen and (max-width: 768px) {
  #link-stats {
    color: #eaeaea;
  }
  #made-with {
    color: black;
  }
}
@media screen and (max-width: 411px) {
  #msk-container {
    border: none;
  }
  #link-stats {
    color: #eaeaea;
  }
  #made-with {
    color: black;
  }
}
@media screen and (max-width: 375px) {
  #msk-container {
    border: none;
  }
  #link-stats {
    color: #eaeaea;
  }
  #made-with {
    color: black;
  }
}
@media screen and (max-width: 360px) {
  #msk-container {
    border: none;
  }
  #link-stats {
    color: #eaeaea;
  }
  #made-with {
    color: black;
  }
}
@media screen and (max-width: 320px) {
  #msk-container {
    border: none;
  }
  #link-stats {
    color: #eaeaea;
  }
  #made-with {
    color: black;
  }
}
