$color: #4e4b42; // #4e424c
$pageHeaderColor: #a3a092; // #a392a2
$backgroundColor: #cdc8b0; // #cdb0c5
$flourishColor: #b4af9a; // #b49ab0
$backgroundLinesColor: #b4af9a; // #b49ab0
$contentBlockShadowColor: #9a9784; // #9a8499
$contentBlockColor: #dad4bb; //#dabbd1
$contentBlockListColor: rgba(218, 212, 187, 1); // rgb(218, 187, 218);
$scrollbarTrackColor: #dad4bb; //#dabbd1
$scrollbarThumbColor: #b0ab96; //#b096a8
$scrollbarThumbHoverColor: #b0ab96; // #d29ec2
