.content-block-header {
  white-space: pre-wrap;
  background-color: #4e424c;
  color: #cdb0c5;
  width: 100%;
}

.content-block-text {
  white-space: pre-wrap;
  padding: 10px 13px;
  line-height: 140%;
  transition: opacity 0.15s;
}

.content-block-image-block {
  padding: 11px 13px 0 13px;
  transition: opacity 0.15s;
}

.content-block-image {
  width: 100%;
  box-shadow: 4px 4px #9a8499;
}

.content-block-image-divider {
  width: 96%;
  border: none;
  border-top: 2px solid #b096a8;
  margin: 13px 3px 0 3px;
}
