#loading{
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 50px;
	width: 300px;
	margin-top: -25px;
	margin-left: -150px;
}
.object{
	background-color: red;
	width: 18px;
	height: 18px;
	float: left;
    margin-top: 15px;
	margin-right: 15px;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	-webkit-animation: object 1.4s infinite;
	animation: object 1.4s infinite;
}
.object:nth-child(1)
{
	background-color: #4285F5;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.object:nth-child(2)
{
	background-color: #EA4436;
	-webkit-animation-delay: 0.25s;
	animation-delay: 0.25s;
}
.object:nth-child(3)
{
	background-color: #FBBD06;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
.object:nth-child(4)
{
	background-color: #34A952;
	-webkit-animation-delay: 0.75s;
	animation-delay: 0.75s;
}

@-webkit-keyframes object{
50% {
    -ms-transform: translate(0,-40px); 
   	-webkit-transform: translate(0,-40px);
    transform: translate(0,-40px);
	}
}		
@keyframes object{
50% {
    -ms-transform: translate(0,-40px); 
   	-webkit-transform: translate(0,-40px);
    transform: translate(0,-40px);
	}
}