@import url('https://fonts.googleapis.com/css?family=Cousine');

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

.App.container {
  opacity: 0;
}

/**
 * 000webhost
 */
/* div:not(#msk-container),
div:not(footer > .container > .row > .col-sm > a)
{
    display: none !important;
    z-index: -1
} */
* {
  font-family: 'Cousine', monospace;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.background-container {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
}
.background-scroll {
  height: calc(500 * 400px); /** Borderline 13x **/
  width: calc(1000 * 400px); /** Borderline 27x **/

  /** Reduce the sake of CPU usages **/
  transform: translateZ(0);
  backface-visibility: hidden;
  will-change: transform;

  animation: slide 120s linear infinite;

  transition: all 0.2s ease;
}
#n4-scroll {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#loading {
  overflow: hidden;
  opacity: 1;
}
#loading-stuck-notice {
  font-family: 'Cousine', monospace;
  opacity: 0;
  transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
}

#navbar-site-logo {
  margin-top: 10px;
  overflow: hidden;
  color: #e81123;
  height: 14.5px;
  width: 100%;
}
#navbar-site-logo img {
  object-fit: cover;
}
.navbar-brand {
  height: 45px;
  padding: 0 13.5px;
  cursor: pointer;

  transition: all 0s ease;
  -o-transition: all 0s ease;
  -ms-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -webkit-transition: all 0s ease;
}
.navbar-brand:hover {
  transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
}
.navbar-nav > li.nav-item hr,
.navbar-nav > .active > a > hr {
  display: block;
  margin: 0 0;
  height: 3px;
  border: none;
}
.navbar-nav > li.nav-item hr {
  border-top: 0px solid #d7d8da;
  color: #d7d8da;
  background-color: #d7d8da;
}
.navbar-nav > li.active > a {
  color: red !important;
}
.navbar-nav > li.active > a > hr {
  border-top: 0px solid red;
  color: red;
  background-color: red;
}
.nav-item:hover,
.nav-link:hover {
  text-decoration: none;
}
.project-title {
  position: absolute;
  color: white;
  opacity: 0;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.project-title-mobile {
  text-decoration: none;
  font-size: 1.3rem;
}

#contact-button {
  text-align: center;
}
/* button#submit:hover {
  background-color: red;
  border-color: red;
} */

.marquee {
  width: 50%;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes mq-anim {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

#homepage-row {
  margin-top: 20px;
}
#works-row > .col-sm-6 {
  overflow: hidden;
  height: 315px;
}
#works-heading {
  margin-top: 50px;
}
.project-preview {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.project-preview .previewimg {
  width: 100%;
  height: auto;
  transform: translateY(0px);
}
.project-preview:hover .previewimg {
  transform: translateY(calc(-100% + 315px));
}

#blocker-container,
#context-menu-blocker-container {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);

  transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
}
#blocker-notice,
#context-menu-blocker-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1.5%;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translate(-50%, -50%);
}
#blocker-notice p,
#context-menu-blocker-notice p {
  color: white;
}
#blocker-notice button,
#context-menu-blocker-notice button {
  margin-left: 50%;
  transform: translateX(-50%);
}

#msk-container {
  padding: 5px 15px 20px;
}
#msk-container .Tilt {
  height: 83px;
  border: none;
  padding: 3.5px;

  animation: 'skill-hover-out' 0.15s linear alternate;
}
#msk-container .Tilt,
#msk-container .Tilt-inner a {
  transition: all 0.15s ease, background-position 0s linear;
  -o-transition: all 0.15s ease, background-position 0s linear;
  -ms-transition: all 0.15s ease, background-position 0s linear;
  -moz-transition: all 0.15s ease, background-position 0s linear;
  -webkit-transition: all 0.15s ease, background-position 0s linear;
}
/* #msk-col-html a,
#msk-col-css a,
#msk-col-js a
{
    border: 4px solid transparent;
} */
.Tilt-inner > a {
  display: block;
  text-align: center;
}
#msk-container .Tilt:hover {
  animation: 'skill-hover-enter' 0.15s linear alternate;
}
#msk-container .Tilt .Tilt-inner > a {
  text-decoration: none;
  text-align: center;
  letter-spacing: 0px;
  line-height: 70px;
}
.card-logo {
  width: 30px;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 50px;
}

.thankyou_message {
  position: absolute;
  top: 100px;
}

#footer.col-sm-4 {
  width: 20vw;
}
#footer-row {
  position: relative;
  top: 80%;
  transform: translateY(-100%);
}

#footer #link-stats {
  color: transparent;
}

#page-stats img {
  margin-left: -50%;
}

#err-404-content {
  margin: 25% 0;
}

@keyframes blocker {
  100% {
    opacity: 1;
  }
}
@keyframes hide-blocker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader-stuck-notice {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes preloader {
  100% {
    opacity: 0;
  }
}
@keyframes preloader-content {
  100% {
    opacity: 1;
  }
}
@keyframes background-onload {
  100% {
    opacity: 0.25;
  }
}
@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-400px, -400px); /* The image width */
  }
}

@keyframes html-hover-out {
  100% {
    background: linear-gradient(
      90deg,
      rgb(227, 79, 38, 0) 50%,
      rgb(239, 101, 42, 0) 0%
    );
  }
}
@keyframes html-hover-enter {
  0% {
    background: linear-gradient(0deg, #e34f26 50%, #ef652a 0%);
  }
  25% {
    background: linear-gradient(22.5deg, #e34f26 50%, #ef652a 0%);
  }
  50% {
    background: linear-gradient(45deg, #e34f26 50%, #ef652a 0%);
  }
  75% {
    background: linear-gradient(67.5deg, #e34f26 50%, #ef652a 0%);
  }
  100% {
    background: linear-gradient(90deg, #e34f26 50%, #ef652a 0%);
  }
}
@keyframes css-hover-out {
  100% {
    background: linear-gradient(
      90deg,
      rgb(26, 111, 180, 0) 50%,
      rgb(27, 132, 193, 0) 0%
    );
  }
}
@keyframes css-hover-enter {
  0% {
    background: linear-gradient(0deg, #1a6fb4 50%, #1b84c1 0%);
  }
  25% {
    background: linear-gradient(22.5deg, #1a6fb4 50%, #1b84c1 0%);
  }
  50% {
    background: linear-gradient(45deg, #1a6fb4 50%, #1b84c1 0%);
  }
  75% {
    background: linear-gradient(67.5deg, #1a6fb4 50%, #1b84c1 0%);
  }
  100% {
    background: linear-gradient(90deg, #1a6fb4 50%, #1b84c1 0%);
  }
}
@keyframes js-hover-out {
  100% {
    background: linear-gradient(
      90deg,
      rgba(214, 186, 50, 0) 50%,
      rgb(255, 218, 62, 0) 0%
    );
  }
}
@keyframes js-hover-enter {
  0% {
    background: linear-gradient(0deg, #d6ba32 50%, #ffda3e 0%);
  }
  25% {
    background: linear-gradient(22.5deg, #d6ba32 50%, #ffda3e 0%);
  }
  50% {
    background: linear-gradient(45deg, #d6ba32 50%, #ffda3e 0%);
  }
  75% {
    background: linear-gradient(67.5deg, #d6ba32 50%, #ffda3e 0%);
  }
  100% {
    background: linear-gradient(90deg, #d6ba32 50%, #ffda3e 0%);
  }
}
@keyframes angular-hover-out {
  100% {
    background: linear-gradient(
      90deg,
      rgb(221, 0, 49, 0) 50%,
      rgb(195, 0, 47, 0) 0%
    );
  }
}
@keyframes angular-hover-enter {
  0% {
    background: linear-gradient(0deg, #dd0031 50%, #c3002f 0%);
  }
  25% {
    background: linear-gradient(22.5deg, #dd0031 50%, #c3002f 0%);
  }
  50% {
    background: linear-gradient(45deg, #dd0031 50%, #c3002f 0%);
  }
  75% {
    background: linear-gradient(67.5deg, #dd0031 50%, #c3002f 0%);
  }
  100% {
    background: linear-gradient(90deg, #dd0031 50%, #c3002f 0%);
  }
}
/* @keyframes python-hover-out {
  100% {
    background: linear-gradient(
      125deg,
      rgb(60, 120, 169, 0) 50%,
      rgb(255, 221, 84, 0) 0%
    );
  }
}
@keyframes python-hover-enter {
  0% {
    background: linear-gradient(0deg, #3c78a9 50%, #ffdd54 0%);
  }
  25% {
    background: linear-gradient(37.5deg, #3c78a9 50%, #ffdd54 0%);
  }
  50% {
    background: linear-gradient(75deg, #3c78a9 50%, #ffdd54 0%);
  }
  75% {
    background: linear-gradient(112.5deg, #3c78a9 50%, #ffdd54 0%);
  }
  100% {
    background: linear-gradient(150deg, #3c78a9 50%, #ffdd54 0%);
  }
} */

div#lu-dtl {
  line-height: 22px;
}

#desktop-navbar {
  display: flex;
}
@media (max-width: 992px) {
  .nav-res {
    display: contents !important;
    flex: 1;
    justify-content: center;
  }
}
@media screen and (min-width: 800px) and (max-width: 1440px) {
  #footer {
    bottom: 60px;
    height: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .navbar-brand:hover,
  .navbar-brand:focus,
  .navbar-brand:active {
    padding: 10px 52px !important;
  }
  #homepage-row {
    margin-left: 18vw;
    width: 51vw;
  }
  #msk-container {
    margin-left: -15vw;
    width: 75vw;
  }
  #footer {
    position: relative !important;
    height: 100px !important;
  }
  #footer-row {
    position: absolute;
    width: 92vw;
  }
  #footer-right {
    position: absolute;
    right: 0;
  }
  #theme-mode-btn {
    margin: 1px 0 0 -4vw;
  }
  #page-stats img {
    width: 100%;
    margin-left: unset;
  }
}
@media (max-width: 490px) {
  .nav-res {
    display: flex !important;
    flex-direction: initial !important;
  }
  .nav-res li {
    padding-right: 10px;
  }
}
@media (max-width: 485px) {
  .navbar-brand {
    margin-left: 50% !important;
    transform: translateX(-50%);
  }
  /* .nav-res
    {
        transform: translateX(-10vw)
    } */
}
@media only screen and (max-width: 414px) {
  #works-row {
    margin-top: 30px;
  }
  .navbar-brand {
    margin-left: 39% !important;
  }
  .navbar-expand .navbar-collapse {
    margin: 20vw 8vw 0 -80vw;
  }
  #desktop-navbar {
    width: 86%;
    transform: translateX(18%);
  }
  #desktop-navbar > div#collapse {
    transform: translateX(-5%);
  }
  #homepage-row {
    margin-left: 1vw;
    width: 90vw;
  }
  #msk-container {
    margin-left: 4vw;
    width: 75vw;
  }
  #footer {
    position: relative !important;
    height: 100px !important;
  }
  #footer-row {
    position: absolute;
    width: 100vw;
    height: 5vw;
  }
  #footer-right {
    width: 50% !important;
  }
  #theme-mode-btn {
    margin: 1px 0 0 -7vw;
  }
  #err-404-content {
    margin: 50% 0;
  }
}
@media screen and (max-width: 375px) {
  .navbar-expand .navbar-collapse {
    margin: 25vw 2vw 0 -90vw;
  }
  #desktop-navbar {
    width: 88%;
    transform: translateX(14%);
  }
  #homepage-row {
    margin-left: 1vw;
    width: 90vw;
  }
  #msk-container {
    margin-left: 4vw;
    width: 75vw;
  }
  #footer {
    position: relative !important;
    height: 100px !important;
  }
  #footer-row {
    position: absolute;
    width: 100vw;
    height: 5vw;
  }
  #theme-mode-btn {
    margin: 1px 0 0 -8vw;
  }
}
@media screen and (max-width: 360px) {
  .navbar-expand .navbar-collapse {
    margin: 25vw 0 0 -100vw;
  }
  #desktop-navbar {
    width: 90%;
    transform: translateX(12%);
  }
  #homepage-row {
    margin-left: 1vw;
    width: 90vw;
  }
  #msk-container {
    margin-left: 4vw;
    width: 75vw;
  }
  #footer {
    position: relative !important;
    height: 100px !important;
  }
  #footer-row {
    position: absolute;
    width: 100vw;
    height: 5vw;
  }
  #theme-mode-btn {
    margin: 1px 0 0 -9vw;
  }
}
@media screen and (max-width: 320px) {
  .navbar-expand .navbar-collapse {
    margin: 25vw -5vw 0 -86vw;
  }
  #desktop-navbar {
    width: 100%;
    transform: translateX(5%);
  }
  #desktop-navbar > div.collapse {
    transform: translateX(-4%);
  }
  #homepage-row {
    margin-left: 1vw;
    width: 90vw;
  }
  #msk-container {
    margin-left: 4vw;
    width: 75vw;
  }
  #footer {
    position: relative !important;
    height: 100px !important;
  }
  #footer-row {
    position: absolute;
    width: 100vw;
    height: 5vw;
  }
  #theme-mode-btn {
    margin: 1px 0 0 -9vw;
  }
}
