@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --header-height: 3.5rem;
  --first-color: hsl(28, 88%, 62%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(0, 0%, 6%);
  --body-font: "Montserrat", sans-serif;
  --second-font: "Dancing Script", cursive;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0
  }
}


body {
  // background-color: var(--body-color);
  color: var(--text-color); //color: rgb(var(--foreground-rgb));
  font-family: var(--body-font);
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb))
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  z-index: 2;
}

header span {
  cursor: pointer
}

header.header-fixed {
  position: fixed;
  width: 100%;
  animation: header-show 0.25s ease
}

.shift-content {
  margin: 2em 0 0 0;
}

#popover-panel .group {
  transition: background 0.2s ease
}

.section {
  padding: 26px 0
}

#introduction,
#works,
#contacts {
  background-color: rgb(255, 241, 249);
  color: black;
}

#works p {
  font-size: 15px
}

#works br {
  content: " ";
  display: block;
  margin: 0.6em 0
}

#introduction,
#playground {
  display: flex;
  height: calc(100vh - 80px);
}

@layer utilities {
  .text-balance {
    text-wrap: balance
  }
}

@keyframes sparkle-sprite {
  0% {
    background-position-x: 0px
  }

  50% {
    background-position-x: 910px
  }

  100% {
    background-position-x: 1810px
  }
}

@keyframes header-show {
  0% {
    top: -90px
  }

  100% {
    top: 0
  }
}